*, *::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Fonts */
.font-load {
    color: #E69F23;
}
.font-red {
    color: #EF4351;;
}
.font-purple {
    color: #5F4090;
}

/* images */
.logoLc{
    width: 120px;
}
/* Container */


/* Header */
/* Navbar */
.navbar-nav{
    margin-left: auto;
}

/* Main */
/* BUTTONS */
button {
    border-radius: 20px;
    border: none;
    margin: 3rem;
    padding: 0.5rem 2rem;
    color: #fff;
}

.btn-load {
    background-color: #E69F23;
}
.btn-red {
    background-color: #EF4351;;
}
.btn-purple {
    background-color: #5F4090;
}
.btn-date {
    width: 5rem;
    height: 4.5rem;
    text-align: center;
    background-color: #E5E5E5;
    color: #E69F23;
}
.btn p {
    display: flex;
    position: relative;
    margin-left: 0.8rem;
}
.bi-arrow-right-circle {
    margin-left: 1rem;
}

/* CARDS */
.card-body .bi-arrow-right-circle {
    display: flex;
    position: relative;
    bottom: 1.7rem;
    left: 1rem;
}
.description {
    color: #E69F23;
    text-decoration: underline;
    cursor: pointer;
}


/* BACK TO TOP */
.bi-arrow-up-circle{
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    color: #EF4351;
}

/* FORMS */
.blob-rouge {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    height: auto;
    left: 7.5rem;
}

.blob-violet {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    height: auto;
    left: 40rem;
    top: 65rem;
}